<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
<link rel="shortcut icon" href="#">
<title>Taco Cloud</title>
</head>
<body>
	<div class="container">
		<h2>Welcome to Taco Cloud!</h2>
		<figure class="figure">
			<img class="figure-img img-fluid rounded"
				th:src="@{/images/TacoCloud.png}" />
			<figcaption class="figure-caption text-right">Credit:
				Google Images!</figcaption>
		</figure>
	</div>
</body>
</html>